body {
    font: bold 12px Arial;
    height: 100%; margin: 0; padding: 0;
     }
a {
    text-decoration: none;
  }

.myinfo {
    display: inline;
}

#map{
      height:700px;
      width:1000px;
      box-shadow: 3px 3px 10px gray;
    }

#submitform {
      height:30px;
      width:500px;
  }    

#repeat{ 
     display: inline;
     }
#country_container { 
     width: 1000px; 
     margin: 13px 3px 3px 0px; 
     text-align: center; 
     width: 85px; 
     padding: 4px; 
     display: inline-table;  
     color: white; 
     background-color: black; 
     font-size: 12px; 
     cursor: pointer;
     border: 1px solid black; 
     border-radius:13px; 
     }
#country_container:hover { 
     box-shadow: 0px 0px 10px black;
     background-color: gray; 
     border: 1px solid gray; 
     cursor: pointer; 
     }
#names { 
     cursor: pointer; 
       }